In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import PolynomialFeatures

In [3]:
df=pd.read_csv("ps.csv")

In [5]:
data=df[['Level','Salary']]

In [6]:
data

   Level   Salary
0      1    45000
1      2    50000
2      3    60000
3      4    80000
4      5   110000
5      6   150000
6      7   200000
7      8   300000
8      9   500000
9     10  1000000

In [13]:
X=data.iloc[:,0:-1].values
y=data.iloc[:,-1:].values

In [12]:
X

   Level
0      1
1      2
2      3
3      4
4      5
5      6
6      7
7      8
8      9
9     10